{extends ../@layout.latte}

{block #layout}
<div class="col-md-8">

	{control flashMessage TRUE}
	{block #contentTop}{/block}
	{block #content}{include #page-content}{/block}
	{block #contentBottom}
		{element gallery gallery, config => [ variant => '@gallery.element' ], mode => 2}
	{/block}

	<hr />

	<iframe id="f1f4eef16" name="f19c87c668" scrolling="no" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D28%23cb%3Df36729472c%26domain%3Dvolby.svobodni.cz%26origin%3Dhttp%253A%252F%252Fvolby.svobodni.cz%252Ff131a1dcbc%26relation%3Dparent.parent&amp;colorscheme=light&amp;extended_social_context=false&amp;href={=urlencode($presenter->link('//Route', array('route' => $presenter->route)))}&amp;layout=standard&amp;locale=cs_CZ&amp;node_type=link&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=598" style="border: none; overflow: hidden; height: 25px; width: 598px;"></iframe>

	<div class="row row-clen">
		<div class="col-lg-4">
			<a class="btn btn-block btn-default btn-clen" href="{$basePath}/registrace/stat-se-priznivcem">Stát se příznivcem</a>
		</div>
		<div class="col-lg-4">
			<a class="btn btn-block btn-default btn-clen" href="{$basePath}/registrace/stat-se-clenem">Stát se členem</a>
		</div>
		<div class="col-lg-4">
			<a class="btn btn-block btn-default btn-clen" href="{$basePath}/registrace/prispet-financne">Přispět finančně</a>
		</div>
	</div>

	<hr />

	<small class="muted">
		{control itemInfo $presenter->route}
	</small>
</div>

<div class="col-md-4 col-dark col-head">
	{block #panel}
	<h2><a href="{plink this special=>'tags'}">{_Tags}</a></h2>
	{control tagCloud}

	<h2>Archiv</h2>
	{element blog history, config => [ variant => 'aktualne' ]}
	{/block}
</div>
