app/log/*
app/temp/*
!app/temp/*/
app/temp/*/*
www/cache/*

!app/temp/.*
!app/temp/web.config
!app/temp/cache/.gitignore
!app/temp/sessions/.gitignore
!app/temp/proxies/.gitignore
!www/cache/.gitignore

.idea
app/data/*
!app/data/.gitignore
www/public/*
!www/public/.gitignore
app/config/config*.neon
