{extends ../@layout.latte}

{block #layout}

<div id="blok-3">
	<div class="obsah">

		<div class="module-clanek-global">

			<h1>{block #title}{$presenter->route->name|firstUpper}{/block}</h1>

			{control flashMessage}
			{block #contentTop}{/block}
			{include #content}
			{block #contentBottom}{/block}

			<hr class="cleaner"/>
		</div>
	</div>
</div>
