#czechMap{
    position: relative;
    width: 500px;
    height: 293px;
    background-image: url('mapa_cr.png');
}

#czechMap-overlap{
    position: relative;
    top: 0px;
    left: 0px;
    border: none;
}